html { 
background: url(menu4.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;

}


h1
{
position: fixed;
left: 15px;
margin: 0px;
padding: 0px;
top: 15px;
height: 25%
			width: 25%
			text-shadow: 1px 1px white;
}

h6
{
position: fixed;
left: 10px;
margin: 0px;
padding: 0px;
top: 70px;
height: 25%
			width: 25%
			text-shadow: 1px 1px white;
}

h2
{
position: absolute;
left: 770px;
margin: 0px;
padding: 0px;
top: 325px;
height: 75%
			width: 75%


}


#jouer {

position: fixed;
		  margin-top : 50px;
top: 33.5%;
left: 39.2%;

}

#regles {

position: fixed;
		  margin-top : 50px;
top: 57.5%;
left: 39.2%;
size: 80%;

}



