html { 
  background: url(connection.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {

	position: relative;
	font-size: 30px;
	left: 735px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px black;
	top: 170px;
	width: 1000px;	
	height: 1000px;
	
}

input[type="text"] {

  background-color : #99CCFF; 
	
	

}

}

input[type="password"] {

  background-color : #99CCFF; 
	
	
}

input[type="submit"] {

  background-color : #99CCFF; 


}
