html { 
border-width:4px;
border-style:solid ;
border-color:white white;
padding:530 530px;
border-radius: 5px;
background: url(solohtml.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


 } 

table {

position:fixed;
border: medium solid ;
border-collapse: collapse;
margin-top:-500px;
top: 90%;
left: 33%;

}

 

#btnhaut {

position: fixed;
margin-top : 50px;
top: 33%;
left: 17.5%;

}

#btnbas {

position: fixed;
margin-top : 50px;
top: 43%;
left: 17.5%;


}

#btngauche {

position: fixed;
margin-top : 50px;
top: 38.5%;
left: 12.8%;
 }

#btndroite {

position: fixed;
margin-top : 50px;
top: 38.5%;
left: 22.2%;

}


h1
{
	position: fixed;
	left: 0px;
	margin: 0px;
	padding: 0px;
	top: 15px;
	height: 25%
	width: 25%
	color: blue;
	text-shadow: 1px 1px white;


}

}
