body { 
border-width:1px 2px 3px 2px;
border-style:solid dotted;
border-color:black red;
padding:0 10px;
 }

 h1
 {
 position: fixed;
 left: 15px;
 margin: 0px;
 padding: 0px;
 top: 15px;
 height: 25%
             width: 25%
			             color: blue;
						         text-shadow: 1px 1px white;


								 }
