html { 
  background: url(menucss.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


h1
{
	position: relative;
	left: 765px;
	margin: 0px;
	padding: 0px;
	top: 85px;
	height: 25%
	width: 25%
}

h2
{
	position: absolute;
	left: 770px;
	margin: 0px;
	padding: 0px;
	top: 325px;
	height: 75%
	width: 75%
	
    
}


#jouer {

position: fixed;
margin-top : 50px;
top: 33.5%;
left: 39.2%;

}

#regles {

position: fixed;
margin-top : 50px;
top: 57.5%;
left: 39.2%;

}



